body {
	background-color: lightblue;
}

p {
	color: pink;
	background: yellow;

}

h1 {
	color: salmon;
}

a {
	text-decoration: none;
}

/* styles second paragraph*/
.highlight {
	background: blue;
}

/* if twop styles written it will pick bottom */
h1 {
	color: blue;
}

/* can inspect site and see margin, etc */
img {
	margin: 50px;
	padding: 20px;
	border: 1px solid black;
}